<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing</title>
</head>
<body>
    <h1>Hello in the mood</h1>
    {% if context["message"] != None %} 
        <div>
            {{context["message"]}}
        </div>
    {% endif %}
    <main>
        <div id="search">
            <form method="get" action="/search/">
                <input type="input" value="search" name="search">
                <input type="submit" value="submit">
            </form>
        </div>
        {% for idea in context["ideas"] %}
            <div>
                <h2>{{idea[1]}} - {{idea[3]}}</h2>
                <p>
                    {{idea[2]}}
                </p>
            </div>
        {% endfor %}
    </main>
</body>
</html>